@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  padding: 56px 48px;
  height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@layer components {
  .sm-text-grey {
    @apply text-sm font-semibold text-grey;
  }

  .base-text-grey {
    @apply text-base font-semibold text-grey;
  }

  .user-info-section-container {
    @apply rounded-lg bg-dark-green px-5 pt-2.5 pb-5 w-full min-w-[1200px] flex flex-col max-h-screen overflow-auto h-screen;
  }

  .user-info-section-header-container {
    @apply flex items-center gap-2 mb-4;
  }
  .user-info-section-header-name {
    @apply text-beige font-bold text-xl;
  }
  .user-info-section-top-bar-actions {
    @apply flex justify-between mb-2.5;
  }

  .pagination-button {
    @apply bg-green-700 px-2 py-1 rounded-sm capitalize hover:enabled:bg-sky-700 enabled:transition enabled:duration-100 ease-in-out disabled:opacity-20;
  }

  .select {
    width: 64px;
    @apply bg-dark-blue sm-text-grey rounded-md block p-2.5 pr-0.5 border-r-10 border-solid border-dark-blue;
  }

  .user-select {
    width: 164px;
  }

  .button {
    @apply focus:outline-none hover:opacity-50 font-bold rounded-lg text-sm px-5 py-2.5;
  }
}
