@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

@layer components {
  .sm-text-grey {
    @apply text-sm font-semibold text-grey;
  }

  .base-text-grey {
    @apply text-base font-semibold text-grey;
  }

  .user-info-section-container {
    @apply w-1200px rounded-lg bg-dark-green px-5 pt-2.5 pb-5;
  }
  .user-info-section-container {
    @apply h-max;
  }
  .user-info-section-header-container {
    @apply flex items-center gap-2 mb-4;
  }
  .user-info-section-header-name {
    @apply text-beige font-bold text-xl;
  }
  .user-info-section-top-bar-actions {
    @apply flex justify-between mb-2.5;
  }

  .dynamic-table {
    height: calc(var(--page-size) * 40px + 40px);
  }

  .pagination-button {
    @apply bg-green-700 px-2 py-1 rounded-sm capitalize hover:bg-sky-700;
  }
}
