@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

@layer components {
  .sm-text-grey {
    @apply text-sm font-semibold text-grey;
  }

  .user-info-section-container {
    @apply w-1200px rounded-lg bg-dark-green px-5 py-2.5;
  }
  .user-info-section-container-leaderboard {
    @apply h-600px;
  }
  .user-info-section-container-overview {
    @apply h-370px;
  }
  .user-info-section-header-container {
    @apply flex items-center gap-2 mb-4;
  }
  .user-info-section-header-name {
    @apply text-beige font-bold text-xl;
  }
  .user-info-section-top-bar-actions {
    @apply flex justify-between mb-2.5;
  }

  .pagination-button {
    @apply bg-green-700 px-2 py-1 rounded-sm capitalize;
  }
}
